npm i -D webpack webpack-cli webpack-dev-server @babel/core babel-loader @babel/preset-env css-loader sass-loader node-sass mini-css-extract-plugin autoprefixer postcss-loader clean-webpack-plugin copy-webpack-plugin html-webpack-plugin cross-env pug pug-loader

1) webpack
2) webpack-cli
3) webpack-dev-server

4) @babel/core
5) babel-loader
6) @babel/preset-env

7) css-loader
8) sass-loader
9) node-sass
10) // style-loader
11) mini-css-extract-plugin

12) // cssnano
13) autoprefixer
14) postcss-loader

15) clean-webpack-plugin
16) copy-webpack-plugin
17) html-webpack-plugin

18) cross-env

19) pug
20) pug-loader
